
<div class="panel  ">
  <div class="panel-heading bg-primary">
    Gestion des utilisateurs

    <i class="fa fa-plus fa-2x"  style="cursor: pointer;color: springgreen;padding-right:10px;padding-left: 10px;" (click)="modeAdd=true;"></i>
  </div>
  <div class="panel-body">
    <table class="table" >
      <tr><th>Username</th><th>Roles</th><th>Actions</th></tr>
      <tr *ngFor="let u of users">
        <td>{{u.username}}</td>
        <td>
          <p *ngFor="let r of u.roles">{{r.roleName}}</p>
        </td>

        <td>  <i *ngIf="u.actived" (click)="desactiver(u)"  class="fa fa-stop" style="cursor: pointer;color: red;padding-right:10px;padding-left: 10px;"
        ></i>
          <i  *ngIf="!u.actived" (click)="activer(u)" class="fa fa-play" style="cursor: pointer;color: lightseagreen;padding-right:10px;padding-left: 10px;"
          ></i>
          <i class="fa fa-plus" style="padding-left: 20px;color: #2575fc" (click)="AddRole(u)">AddRole</i>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="modeAdd==true "  >
    <form  #f="ngForm" (ngSubmit)="addUser(f.value)">
      <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" name="username" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" name="password" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Confirmer Password</label>
        <input type="password" name="confirmedPassword" ngModel class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
  </div>
</div>
